<div id="post-wrapper" class="post-wrapper"></div>
<div class="post-order-wrapper">
    <div class="btn-group">
        <a class="btn btn-primary" href="javascript:void(0)">
            <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
            {{= o.commentOrder }}
        </a>
        <a  class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
            href="javascript:void(0)">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{ o.orders.forEach(function(el, n){ }}
            <li class="change-order" data-order="{{= el }}">
                <a>{{= el.toUpperCase() }}</a>
            </li>
            {{ }); }}
        </ul>
    </div>
</div>
<ul id="commetn-list" class="comment-list">
    {{ o.items.forEach(function(el, n){ }}
    {{= $$.Comment(el, n) }}
    {{ }); }}
</ul>