<li class="comment-item {{= o.count ? 'short-list' : 'full-list' }}" id="comment-{{= o.id }}">
    {{ if(o.count){ }}
    <span class="load-mode-comments text-muted" data-id="{{= o.id }}">show {{= o.count }} more</span>
    {{ }else if(!('count' in o)){ }}

    <i class="mdi-navigation-unfold-less collapse-tree" data-collapsed="false"></i>
    <strong class="author">{{= o.author }}</strong>
    <span class="text-muted">{{= o.score}} points  {{= $$.$utils.timeDiff(o.created) }}</span>
    <a href="{{= $$.$permalink(o.id) }}" class="fake-link">
        <i class="mdi-content-link permalink text-muted" title="permalink"></i>
    </a>
    <br/>
    <div class="comment-content">{{= $$.$decode(o.body_html, o) }}</div>

    <ul class="replies">
        {{ o.replies && o.replies.forEach(function(node){ }}
            {{= $$.Comment(node) }}
        {{ }); }}
    </ul>

    {{ } }}
</li>
