<ul class="nav navbar-nav">
    {{ o.items.forEach(function(item){ }}
    <li class="{{= item.isCurrent ? 'active' : '' }}">
        <a
                href="?/{{= item.href }}"
                class="fake-link navlink"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                >
            {{= item.name }}
        </a>
    </li>
    {{ }); }}
</ul>
<ul class="nav navbar-nav navbar-right">

</ul>