<ul class="nav navbar-nav">
    {{ o.items.forEach(function(item){ }}
    <li
    {{= item.isSelected ? 'class="active"' : '' }}>
        <a href="?/{{= item.section }}" class="fake-link navlink">{{= item.name }}</a>
    </li>
    {{ }); }}
</ul>
<ul class="nav navbar-nav navbar-right">

</ul>