<ul class="nav navbar-nav">
    {{ o.items.forEach(function(item){ }}
    <li class="{{= item.isCurrent ? 'active' : '' }}">
        <a
                href="{{= item.href }}"
                class="fake-link navlink"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                >
            {{= item.name }}
        </a>
    </li>
    {{ }); }}
    <!--<li class="topic-title text-center" id="topic-title">-->
        <!--<a></a>-->
    <!--</li>-->
</ul>

<form class="navbar-form navbar-right">
    <input
            id="search"
            type="text"
            class="form-control col-lg-8"
            placeholder="Search"
            value="{{= o.search ? o.search : '' }}">
</form>
<ul class="nav navbar-nav navbar-right">
</ul>
