<a href="" class="btn-back btn btn-primary col-sm-3 col-xs-5 col-md-2 {{= o.back ? '' : 'disabled'}}">
    <i class="mdi-navigation-arrow-back"></i>
</a>
<a href="{{= o.nav.after }}"
   class="fake-link btn btn-primary col-sm-3 col-xs-5 col-md-2 col-md-push-1 {{= o.after ? '' : 'disabled'}}">
    <i class="mdi-navigation-arrow-forward"></i>
</a>