<a href="" class="btn-back btn btn-primary {{= o.back ? '' : 'disabled'}}">
    <i class="mdi-navigation-arrow-back"></i>
</a>
<a href="{{= o.nav.after }}" class="fake-link btn btn-primary {{= o.after ? '' : 'disabled'}}">
    <i class="mdi-navigation-arrow-forward"></i>
</a>