/*xs*/
@media (max-width: 767px) {
    .thing .thumbnail {
        width: 120px !important;
    }
    .thing .thumbnail {
        -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: flex-start;
        align-self: flex-start;
    }

    .page-nav a:nth-child(2){
        float: right;
    }
}
/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .page-nav a:nth-child(2){
        float: right;
    }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*lg*/
@media (min-width: 1200px) {

}