body {
    padding-top: 70px;
    overflow-x: hidden;
}

.app-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.app-preloader .progress {
    width: 100%;
    height: 50px;
}

.navbar .navbar-brand {
    font-size: 2.4em;
}

.btn .mdi-icon {
    font-size: 1.2em;
    line-height: 1em;
}

/*POST (reddit item)*/
.thing {
    clear: both;
    position: relative;
    margin: 8px 0px;
    background: #ffffff;
    /*flex*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.thing div.score {
    position: absolute;
    left: -68px;
    font-size: 20px;
    text-align: right;
    top: 0;
    width: 60px;
}

.thing .description {
    margin-left: 8px;
    /*flex*/
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.thing .thumbnail-wrapper {
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.thing .thumbnail {
    background-size: cover !important;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.thing .thumbnail.default {

}

.thing .thumbnail.default {
    background-image: url("//www.redditstatic.com/sprite-reddit.EMWQffWtZwo.png") !important;
    background-repeat: no-repeat;
    background-position: 0px 53%;
    background-size: 167% !important;
    height: 82px;
}

.thing .thumbnail.self {
    background-image: url("//a.thumbs.redditmedia.com/Tqev6JXPpzFuNS7d.png") !important;
    background-repeat: no-repeat;
    background-position: 0px 53%;
    background-size: 167% !important;
    height: 82px;
}

/*COMMENT*/
.comment-list, .comment-list ul {
    list-style: none !important;
    padding-left: 0;
}

.comment-item {
    position: relative;
}

.comment-item.collapsed {
    height: 1.5em;
    overflow: hidden;
    transition: height 0.5s ease-out;
}

.comment-item .collapse-tree {
    font-size: 1em;
    cursor: pointer;
}

.comment-item .permalink {
    position: absolute;
    top: -1px;
}

.comment-item .load-mode-comments {
    cursor: pointer;
}

.comment-item .load-mode-comments:hover {
    color: #009688;
}

.comment-item .comment-content {
    margin-left: 1.2em;
}

.comment-list .replies {
    position: relative;
    padding-left: 8px;
}

.comment-list .comment-item.full-list {
    box-shadow: -1px 0px 0px 0px rgb(199, 194, 194);
}

.progress-indicator {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: 1031;
}

/*messages*/
#snackbar-container .info-message {
    color: #ffffff;
    background: #03a9f4;
}

#snackbar-container .success-message {
    color: #ffffff;
    background: #009688;
}

#snackbar-container .log-message {
    color: #ffffff;
    background: #777;
}

#snackbar-container .warn-message {
    color: #ffffff;
    background: #ff5722;
}

#snackbar-container .error-message {
    color: #ffffff;
    background: #f44336;
}